body{
    background: url(../images/main-photo2.jpg);
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center -27em;
}

html{
    max-width: 2000px;
}

.site{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

@media only screen and (max-width: 768px) {
    body {
        background-position: center top; 
    }
}
