<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit ea architecto tempore amet, quis libero delectus autem blanditiis incidunt repellat excepturi quidem voluptatibus reprehenderit corporis provident, hic rem et! Ullam!</p>
</body>
</html>